<footer id="footer">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <img src="fotos/Logo-Skarshop.png" width="60%">

            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/lasjuntadas" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://twitter.com/lasjuntadas?fbclid=IwAR3d24Mb-DQlsBjLj4vCG1rhAfE7_bVrPLOOafqGmQG6BYz3HWfzGx0I8ns"
                    class="social-media-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="https://www.instagram.com/lasjuntadas?fbclid=IwAR32JsK5Z-2fyExF2KHOlwJpRWtJPh6tw99W1vmDMnYNLNPC2YaETrqAvMY"
                    class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>